.profile-pic {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4CAF50;
}
.back{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

form {
    width: 350px;
    margin: auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.error {
    color: red;
    margin-bottom: 10px;
}

