<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${task.id} != null ? 'Edit Task' : 'Create Task'">Task Form</title>
</head>
<body>

<h1 th:text="${task.id} != null ? 'Edit Task' : 'Create Task'"></h1>


<div th:if="${successMessage}">
    <p th:text="${successMessage}" style="color: green;"></p>
</div>

<form th:action="@{/tasks/save}" th:object="${task}" method="post">


    <input type="hidden" th:field="*{id}"/>


    <div>
        <label for="name">Task Name:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>


    <div>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" rows="4" cols="40"></textarea>
    </div>


    <div>
        <label for="priority">Priority:</label>
        <select id="priority" th:field="*{priority}">
            <option value="">-- Select Priority --</option>
            <option value="HIGH">High</option>
            <option value="MEDIUM">Medium</option>
            <option value="LOW">Low</option>
        </select>
    </div>


    <div>
        <label for="status">Status:</label>
        <select id="status" th:field="*{status}">
            <option value="">-- Select status --</option>
            <option value="PENDING" style="color:red;">Pending</option>
            <option value="DONE" style="color : green">Done</option>
            <option value="IN_PROGRESS">In_Progress</option>
        </select>
    </div>


    <div>
        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" th:field="*{dueDate}">
    </div>

    <div>
        <button type="submit">Save Task</button>
    </div>
</form>
   <p>
       <a th:href="@{/tasks/list}">Back to Task List</a>
   </p>
</body>
</html>